*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header#header{
    width: 100%;
    background-color: #1C84EE;
    padding: 10px 50px 10px 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    >.left{
        display: flex;
        justify-content: center;
        align-items: center;
        > .logo {
            display: flex;
            align-items: center;
            font-size: 22px;
            color: #fff;
            font-weight: 900;
            padding: 12px;
            transition: .3s;
            > img {
            color: #ff9898;
            margin-right: 5px;
            min-width: 30px;
            width: 30px;
            }
            > span {
            letter-spacing: 1.6px;
            font-size: 21px;
            transition: 0.3s;
           
            &:hover {
                color: #bbb;
            }
          }
        }
        > svg {
            color: #fff;
            cursor: pointer;
            margin-left: 100px;
            transition: all .3s ease;
            &.close{
                  margin-left:20px;
              }
          }
    }
    >.right{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        >.admin{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            >img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            >span{
                font-size: 14px;
                margin-left: 10px;
            }
        }
        >ul.list{
            position: absolute;
            top: 55px;left:-10px;
            background-color: #fff;
            color:#111;
            width: 144px;
            padding: 0.25rem ;
            border-radius: 3px;
            box-shadow: 0 0 5px #ccc;
            animation: fade-in .1s linear;
            @keyframes fade-in {
                0%{
                    opacity: .2;
                }
                100%{
                    opacity: 1;
                    transform: scale(1);
                }
            }
            a, form{
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 0.875rem;
                background-color: #fff;
                &:hover{
                    background-color: #f1f1f1;
                }
            }
        }
    }
}

#app{
    >.main {
        width: 100%;
        height: auto;
        min-height: calc(100vh - 80px);
        display: flex;
        > main {
            height: auto;
            width: 100%;
            >.router-view{
                padding: 20px 25px;
                height: auto;
                min-height: calc(100vh - 151px);
                background-color: #F4F5F8;
            }
            >footer{
                background-color: #fff;
                color:#74788d;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                padding: 25px 40px;
                box-shadow: -1px -1px 1px #f9f9f9;
                width: 100%;
            }
        }

        >.sideBar {
            min-width: 250px;
            width: 250px;
            min-height: calc(100vh - 80px);
            height: auto;
            background-color: #fff;
            padding: 20px 10px;
            transition: 0.3s;
            color:#111;
            box-shadow: 0 8px 5px #ccc;
            &.close {
              width: 90px;
              min-width: 90px;
            }
           
            > ul {
              margin-top: 10px;
              a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 6px;
                padding: 12px 25px;
                border-radius: 25px;
                transition: 0.3s;
                font-size: 15px;
                &:hover {
                  // background-color: rgba($color: #000, $alpha: 0.3);
                  color: #1484c4;
                }
                &.active {
                  color: #fff;
                }
                svg {
                  margin-right: 10px;
                  min-width: 20px;
                  width: 20px;
                  
                }
                svg.active{
                    transform: rotate(180deg);
                }
              }
              ol {
                margin-left: 10px;
                height: 0;
                overflow: hidden;
                &.open {
                  height: auto;
                }
                > a {
                  border-radius: 0;
                  padding: 10px 15px;
                }
              }
              
            }
        }
    }
   
   
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F5F8;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;

z-index: 999999;
  span {
    color: #333;
    margin-top: 20px;
    letter-spacing: 2.6px;
  }
@keyframes black-hole{
  0%  { transform:scale(1) translate3d( 75px,0,0) }
  50% { transform:scale(4) translate3d( 55px,0,0) }
  100%{ transform:scale(1) translate3d( 75px,0,0) }
}
@keyframes black-hole-rotate{
  0%   { transform: translate(-50%,-50%) rotate(  0deg) skew(3deg)}
  50%  { transform: translate(-50%,-50%) rotate(180deg) skew(0deg)}
  100% { transform: translate(-50%,-50%) rotate(360deg) skew(3deg)}
}

.black-hole{
  backface-visibility: hidden;
  z-index: 20;
  position      : relative;
  overflow      : hidden;
  border-radius : 50%;
  width         : 180px;
  height        : 180px;
  padding       : 0;
  box-shadow    : 0 0 30px 0 #1484c4 inset;
  
  .gooey-container {
    overflow      : hidden;
    border-radius : 50%;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%,-50%) rotate(0deg) skew(5deg);
    filter        : url(#gooey-black-hole);
    width         : 300px;
    height        : 300px;
    padding       : 0;
    margin        : 0;
    box-shadow    : 0 0 0 22px #1f0033 inset;
    animation     : black-hole-rotate 5s ease infinite;
    
    .bubble {
      display    : block;
      position   : absolute;
      top        : 50%;
      left       : 50%;
      width      : 100%;
      text-align : right;

      &:before{
        content       : "";
        display       : inline-block;
        background    : #ff4081;
        width         : 100px;
        height        : 100px;
        border-radius : 50%;
        transform     : scale(1) translate3d(75px,0,0);
        box-shadow    : 0 0 10px 0 #0000ff inset,
                        0 0 10px 0 #0000ff inset;
      }
    }
    @for $i from 1 through 6 {
      .bubble:nth-child(#{$i}) {
        transform : translate(-50%,-50%) rotate(60deg*$i);
      }
      .bubble:nth-child(#{$i}):before {
        animation : black-hole 1s*($i) ease .5s*$i infinite;
      }
    }
  }
}


}
.login {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .darken {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.75);
      z-index: 1;
    }
    .main {
      position: relative;
      z-index: 10;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .errorMsg {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: rgb(224, 0, 0);
          font-size: 14px;
        }
      }
      > h1 {
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 2px;
        color: #fff;
        text-align:center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        > .form-group {
          display: flex;
          margin-bottom: 10px;
          .icon {
            background-color: hsla(0, 0%, 100%, 0.1);
            width: 36px;
            height: 45px;
            border: none;
            padding: 15px 0 15px 19px;
            border-radius: 30px 0 0 30px;
            margin-right: 0;
          }
          input[type="email"],
          input[type="password"] {
            background-color: hsla(0, 0%, 100%, 0.1);
            width: 274px;
            height: 45px;
            margin-bottom: 10px;
            border-radius: 30px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
            outline: none;
            padding: 15px 18px 15px 16px;
            font-size: 14px;
            outline: none;
            border:none;
            &:focus{
                border:none;
                outline: none;
                box-shadow: none;
            }
          }
          &.remember {
            margin-right: auto;
            color: #ccc;
            input[type="checkbox"] {
              margin-left: auto;
            }
          }
        }
        > .commit-text {
          color: #ccc;
          font-size: 14px;
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-left: auto;
          transition: 0.3s;
          padding: 0 10px;
          &:hover {
            color: #fff;
          }
        }
        > button {
          margin-top: 20px;
          background-color: rgba(28, 132, 238, 0.85);
          width: 300px;
          height: 45px;
          border-radius: 30px;
          font-size: 14px;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: rgba(28, 132, 238, 1);
          }
          &.loading {
            cursor: not-allowed;
            &:hover {
              background-color: rgba(28, 132, 238, 0.85);
            }
          }
        }
      }
    }
  }

.article {
  display: flex;
  flex-direction: column;
  > h1 {
    font-weight: 900;
    color: #333;
  }
  > .card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem 2.5rem;
    margin-top: 25px;
    > .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .left,
      .right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .form-group {
          display: flex;
          align-items: center;
          .icon {
            background-color: #fff;
            width: 40px;
            height: 40px;
            border: 1px solid #aaa;
            border-right: none;
            padding: 11px 0px 12px 19px;
            border-radius: 30px 0 0 30px;
            margin-right: 0;
          }
          input[type="text"] {
            background-color: #fff;
            border: 1px solid #aaa;
            width: 190px;
            height: 40px;
            border-radius: 30px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
            outline: none;
            padding: 15px 18px 15px 16px;
            font-size: 14px;
            color:#333;
          }
          .btn {
            color: #f6f6f6;
            cursor: pointer;
            background-color: #34c38f;
            border-radius: 35px;
            display: block;
            padding: 10px 20px;
            text-align: center;
            font-weight: 900;
            font-size: 14px;
            transition: 0.3s;
            &:hover {
              background-color: #2ca67a;
            }
          }
          select {
            color: #333;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 0.25rem;
            width: 100px;
            height: 40px;
            padding: 0 7px;
            outline: none;
            margin-left: 15px;
          }
        }
      }
    }
    > .table-responsive {
      margin-top: 20px;
      > table {
        margin: 0 auto;
        width: 100%;
        font-size: 14px;
        > thead {
          background-color: #f9f9f9;
          > tr {
            > th {
              text-align: left;
              padding: 15px;
              color:#333;
              &.active {
                background-color: #f1f1f1;
              }
              >div{
                color: #333;
              }
            }
          }
        }
        > tbody {
          background-color: transparent;
          &.loadingTable {
            td {
              text-align: center;
              padding: 30px 0;
              > svg {
                margin: 0 auto;
              }
            }
          }
          > tr {
            border-bottom: 1px #2f373f solid;
            > td {
              text-align: left;
              padding: 15px;
              min-width: 100px;
              img {
                width: 65px;
                height: 40px;
                object-fit: cover;
              }
              button {
                &.edit {
                  color: #2ca67a;
                }
                &.delete {
                  color: rgb(200, 6, 6);
                }
              }
              span {
                padding: 3px 4px;
                border-radius: 3px;
                color: #ef6767;
                background-color: rgba(239, 103, 103, 0.18);
                &.active {
                  color: #34c38f;
                  background-color: rgba(52, 195, 143, 0.18);
                }
              }
            }
          }
        }
      }
    }
    > .paging {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .pageBtn {
        nav {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #fff;
            border-radius: 30px !important;
            margin: 0 3px !important;
            border: none;
            width: 32px;
            height: 32px;
            padding: 0;
            text-align: center;
            line-height: 32px;
            font-size: 12px;
            transition: 0.3s;
            &:hover {
              color: #1c84ee;
              background-color: #282f36;
            }
            &.active {
              background-color: #1c84ee;
              border-color: #1c84ee;
              &:hover {
                color: #fff;
                background-color: #1c84ee;
              }
            }
            &.disabled {
              cursor: default;
              color: #777;
              &:hover {
                color: #777;
                background-color: #242a30;
              }
            }
          }
        }
      }
    }
  }
}
.addArticle {
  display: flex;
  flex-direction: column;
  > h1 {
    font-weight: 900;
    color: #333;
  }
  > .card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem 4rem 1.5rem 2.5rem;
    margin-top: 25px;
    > .card-title {
      border-bottom: 1px #aaa solid;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        color: #333;
        font-size: 17px;
        font-weight: 800;
      }
      p {
        margin-top: 5px;
        margin-bottom: 15px;
      }
      > .categoryBtn {
        margin-left: auto;
        button {
          background-color: #1c84ee;
          color: #fff;
          border-radius: 25px;
          padding: 10px 23px;
          transition: 0.3s;
          font-size: 13px;
          margin-left: 16px;
          &:hover {
            background-color: #1870ca;
            border-color: #1870ca;
          }
          > i {
            margin-right: 3px;
          }
        }
      }
    }
    > form, .form {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-column-gap: 30px;
      .chkbox-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      span.successMsg {
        margin-top: 15px;
        background-color: rgb(0, 190, 48);
        color: #fff;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 13px;
        max-width: 120px;
        text-align: center;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        padding: 12px 0;
        &.btn-group {
          flex-direction: row;
        }
        >.container{
          display: flex;
          align-items: center;
          >select{
            width: calc(100% - 46px);
            margin-right: 10px;
          }
          >a{
            display: flex;
            background-color: #34C38F;
            color:#fff;
            min-width: 36px;
            height: 36px;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
          }
        }
        > label {
          margin-bottom: 10px;
          font-weight: 900;
          font-size: 13px;
          color: #333;
        }
        > .imagefileFor {
          width: 100%;
          height: 140px;
          background-color: #fff;
          border: 2px #aaa dashed;
          cursor: pointer;
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 15px;
            position: relative;
            width: 100%;
            height: 100%;
            &.isPreview > svg {
              position: absolute;
              top: 8px;
              right: 15px;
              color: #111;
              cursor: pointer;
            }
            > img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 100%;
              object-fit: contain;
            }
          }
        }
        input[type="text"],
        input[type="number"],
        select {
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 0 12px;
          background-color: #fff;
          color: #111;
          border: 1px #aaa solid;
          height: 36px;
          font-size: 14px;
        }
        > .input-group {
          display: flex;
          align-items: center;
          width: 100%;
          .icon {
            background-color: hsla(0, 0%, 100%, 0.1);
            width: 36px;
            height: 36px;
            border: none;
            padding: 7.5px 0 7.5px 9px;
            border-radius: 5px 0 0 5px;
            margin-right: 0;
          }

          input {
            margin-left: 0;
            width: calc(100% - 36px);
          }
        }
        > textarea {
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 8px 12px;
          background-color: #fff;
          color: #111;
          border: 1px #aaa solid;
          height: 140px;
          font-size: 14px;
          resize: none;
          resize: vertical;
        }
        > button,
        .pre {
          color: #f6f6f6;
          background-color: #1c84ee;
          border-color: #1c84ee;
          border-radius: 5px;
          height: 38px;
          font-size: 13px;
          font-weight: 500;
          width: auto;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          &:hover {
            background-color: #1870ca;
            border-color: #1870ca;
          }
          &.loading {
            cursor: not-allowed;
            background-color: #1870ca;
            border-color: #1870ca;
          }
          > svg {
            text-align: center;
          }
        }
        .pre {
          background-color: #74788d;
          color: #f6f6f6;
          margin-left: 10px;
          &:hover {
            background-color: #636678;
            border-color: #5d6071;
          }
        }
      }
    }
    > .errorMsg {
      display: flex;
      flex-direction: column;
      > span {
        color: rgb(180, 0, 0);
        margin-top: 4px;
      }
    }
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: relative;
    width: 50px;
    height: 25px;
    outline: none;
    background: linear-gradient(to right, #bbb, #999);
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background: #fff;
      border-radius: 50%;
      transform: scale(0.98, 0.96);
      transition: 0.5s;
    }
    &:checked {
      background: linear-gradient(to right, #1c84ee, #185cc9);
      &::before {
        left: 25px;
      }
    }
    &::after {
      content: "";
    }
  }
}



